<% include ../header %>
<header class="row-fluid text-center">
  <h2>Dados do contato</h2>
</header>
<section class="row-fluid text-center">
  <form action="/contato/<%= id %>?_method=DELETE" method="post">
    <fieldset disabled>
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control edit-input" placeholder="<%= contato.nome %>" disabled>
      </div>
      <div class="form-group">
        <label>E-mail:</label>
        <input type="text" class="form-control edit-input" placeholder="<%= contato.email %>" disabled>
      </div>
    </fieldset disabled>

      <a href="/contato/<%= id %>/editar" class="btn btn-info">Editar</a>
      <button type="submit" class="btn btn-danger">Excluir</button>

  </form>
</section>
<% include ../exit %>
<% include ../footer %>
