<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script>
if(window.location.hostname == 'localhost') {
  var socket = io.connect(window.location.hostname+":3000");
} else {
  var socket = io.connect(window.location.hostname);
}

socket.emit('join', '<%= sala %>');

socket.on('send-client', function(msg){
  document.getElementById('chat').innerHTML += msg;
});

var enviar = function(){
  var msg = document.getElementById('msg');
  socket.emit('send-server', msg.value);
};
</script>

<header class="row-fluid text-center">
  <h2>Ntalk - Chat</h2>
</header>
<section class="row-fluid">
  <div class="well span6 offset3">
    <pre id="chat" class="pre-scrollable" style="width:auto;height:400px;"></pre>
    <div class="input-append">
      <input type="text" id="msg" class="input-xlarge" placeholder="Digite sua mensagem">
      <input type="button" onclick="enviar();" class="btn btn-success" value="Enviar">
      <a href="/contatos" class="btn btn-default">Sair do chat</a>
    </div>
  </div>
</section>

<% include ../exit %>
<% include ../footer %>
