<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script>
if(window.location.hostname == 'localhost') {
  var socket = io.connect(window.location.hostname+":3000");
} else {
  var socket = io.connect(window.location.hostname);
  console.log(window.location.hostname);
}
socket.on('send-client', function(msg){
  document.getElementById('chat').innerHTML += msg;
});

var enviar = function(){
  var email = document.getElementById('email').value;
  var msg = document.getElementById('msg').value;
  socket.emit('send-server', {email: email, msg: msg});
};
</script>

<header>
  <h2>Ntalk - Chat</h2>
</header>
<section>
  <pre id="chat"></pre>
  <input type="hidden" id="email" value="<%= email %>">
  <input type="text" id="msg" placeholder="Mensagem">
  <button onclick="enviar();">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>
